.hero__section {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
  background-size: 400% 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: gradient 6s cubic-bezier(0.28, 0.55, 0.74, 0.53) infinite;
          animation: gradient 6s cubic-bezier(0.28, 0.55, 0.74, 0.53) infinite;
}
.hero__section h1 {
  font-family: "proxima-nova", sans-serif;
  font-size: 6em;
  font-weight: 900;
  color: #fff;
  margin: 0 20px;
  -webkit-animation: slideIn 2s ease-in-out;
          animation: slideIn 2s ease-in-out;
}
.hero__section p {
  font-family: "proxima-nova", sans-serif;
  font-size: 2em;
  color: #fff;
  margin: 10px 20px;
  -webkit-animation: slideIn 2.8s ease-in-out;
          animation: slideIn 2.8s ease-in-out;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
.about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
  width: 100%;
}
.about__section h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 3em;
  font-weight: 900;
  margin: 10px 0;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  -webkit-text-decoration-color: #2575fc;
          text-decoration-color: #2575fc;
  -webkit-animation: slideIn 2s ease-in-out;
          animation: slideIn 2s ease-in-out;
}
.about__section p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  margin: 10px 0;
}

@media (max-width: 500px) {
  .about__section p {
    font-family: "proxima-nova", sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
  }
}
.work__section {
  width: 100%;
  margin: 25px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.work__section h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 3em;
  font-weight: 900;
  margin: 10px 0;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  -webkit-text-decoration-color: #2575fc;
          text-decoration-color: #2575fc;
}
.work__section .work__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.work__section .work__wrapper img {
  max-width: 100%;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.work__section .work__wrapper .trestle__work {
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.work__section .work__wrapper .trestle__work h3 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px 0;
}
.work__section .work__wrapper .trestle__work p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}
.work__section .work__wrapper .trestle__work button {
  -ms-flex-item-align: end;
      align-self: end;
}
.work__section .work__wrapper .altj__work {
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.work__section .work__wrapper .altj__work h3 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px 0;
}
.work__section .work__wrapper .altj__work p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2rem;
}
.work__section .work__wrapper .altj__work button {
  -ms-flex-item-align: end;
      align-self: end;
}
.work__section .work__wrapper .happySunshine__work {
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.work__section .work__wrapper .happySunshine__work h3 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px 0;
}
.work__section .work__wrapper .happySunshine__work span {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 5px 0;
  color: #2575fc;
}
.work__section .work__wrapper .happySunshine__work p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2rem;
  margin: 5px 0;
}
.work__section .work__wrapper .happySunshine__work button {
  -ms-flex-item-align: end;
      align-self: end;
}

.contact__section {
  width: 100%;
  margin: 25px 0;
}
.contact__section h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 3em;
  font-weight: 900;
  margin: 10px 0;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  -webkit-text-decoration-color: #2575fc;
          text-decoration-color: #2575fc;
  -webkit-animation: slideIn 2s ease-in-out;
          animation: slideIn 2s ease-in-out;
}
.contact__section .contact__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.contact__section .contact__wrapper p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  margin: 10px 0;
}
.contact__section .contact__wrapper p .link {
  text-decoration: underline;
  font-weight: 900;
  color: #2575fc;
}
.contact__section .contact__wrapper form {
  justify-self: stretch;
}
.contact__section .contact__wrapper form .form__group {
  margin: 10px 0;
  width: 100%;
}
.contact__section .contact__wrapper form label {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  display: block;
  margin: 5px 0;
}
.contact__section .contact__wrapper form input {
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 2px solid #2575fc;
}
.contact__section .contact__wrapper form input:focus {
  font-size: 1.3rem;
}
.contact__section .contact__wrapper form textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 2px solid #2575fc;
}
.contact__section .contact__wrapper form button {
  border: 0;
  width: 250px;
  height: 45px;
  background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
  background-size: 200%;
  background-position: 100% 100%;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.contact__section .contact__wrapper form button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: 0 100%;
}

.site__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px;
}
.site__wrapper button {
  border: 0;
  width: 250px;
  height: 45px;
  background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
  background-size: 200%;
  background-position: 100% 100%;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.site__wrapper button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: 0 100%;
}
.site__wrapper .goToSite__Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  border: 0;
  width: 250px;
  height: 45px;
  background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
  background-size: 200%;
  background-position: 100% 100%;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.site__wrapper .goToSite__Btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: 0 100%;
}

.slidInFull {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 500px) {
  .site__wrapper {
    margin: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */