.about__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0;
    width: 100%;
    h2 {
        font-family: $proxima;
        font-size: 3em;
        font-weight: 900;
        margin: 10px 0;
        text-decoration: underline;
        text-decoration-style: double;
        text-decoration-color: $blue;
    }
    p {
        font-family: $proxima;
        font-size: 2rem;
        margin: 10px 0;
    }
}
@media (max-width: 500px) {
    .about__section {
        p {
            font-family: $proxima;
            font-size: 1.2rem;
            margin: 5px 0;
        }
    }

}